{{!-- instead of using post.<property>, the partial only uses the property names --}}
<article class="post">
    <div class="title">
        <a href="{{post_url}}" target="_blank">{{title}}</a>
        {{!-- custom helper formats url --}}
        <span>({{format_url post_url}})</span>
    </div>
    <div class="meta">
        {{!-- custom helper formats pluralization & date --}}
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} 
            {{!-- custom helper formats pluralization --}}
            {{format_plural "comment" comments.length}}
        </a>
    </div>
</article>